<!DOCTYPE html>
<html ng-app='fuber'>
<head>
	<link rel="stylesheet" href="style.css">
	<title>F'Uber</title>
</head>
<body ng-controller="tacoBellController">
	<div ng-cloak>
		<h1>- F'Uber -</h1>
		<h2>It's like Uber, but with Food Delivery!</h2>

		

		<div class="menuContainer" ng-view></div>

		<h2>Shopping Cart</h2>

		<div >
			<div ng-repeat='test in test'>{{test}}</div>
			<table class="table">
				<tr>
					<th>Description</th>
					<th>Cost</th>
					<th></th>
				</tr>
				<tr ng-repeat="item in items">
					<td type="text">{{item.description}}</td> 
					<td type="number">{{item.cost | currency}}</td>
					<td>
						[<a ng-click="removeItem($index)">X</a>]
					</td>
				</tr>
				<tr>
					<td>Total:</td>
					<td type="number">{{total() | currency}}</td>
					<td><button ng-click="checkout()">Checkout</button></td>
				</tr>
			</table>
		</div>

	</div>
	
	

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
	<script src="app.js"></script>
	<script src="/pages/checkout/checkout.js"></script>
	<script src="/pages/login/login.js"></script>
	<script src="/pages/main/main.js"></script>
	<script src="/services/checkoutService.js"></script>
	<script src="/services/userService.js"></script>
	<script src="/services/mainService.js"></script>
	<script src="/pages/restaurants/arbys/arbys.js"></script>
	<script src="/pages/restaurants/mcdonalds/mcdonalds.js"></script>
	<script src="/pages/restaurants/tacobell/tacobell.js"></script>
</body>
</html>